.pageLayout {
  position: relative;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 64px auto;
  column-gap: 16px;
  min-height: 100%;
  grid-template-areas:
    'header header'
    'sidebar body';
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
  padding: 1rem 1rem 1rem 0;
}

.sidebar {
  grid-area: sidebar;
  overflow-x: hidden;
}
