.sidebar {
  height: 100%;
  min-height: 100%;
  background-color: var(--color-bg);
  color: var(--color-clean);
  display: grid;
  grid-template-rows: 100px 480px auto;
  row-gap: 20px;

  nav {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
