.input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-grey3);
  border-radius: 4px;
  padding: 14px 16px;
  color: var(--color-grey4);

  &::-webkit-input-placeholder {
    color: var(--color-second-text);
  }

  &::-moz-placeholder {
    color: var(--color-second-text);
  }

  &:-moz-placeholder {
    color: var(--color-second-text);
  }

  &:-ms-input-placeholder {
    color: var(--color-second-text);
  }

  &:hover {
    &::-webkit-input-placeholder {
      color: var(--color-grey3);
    }

    &::-moz-placeholder {
      color: var(--color-grey3);
    }

    &:-moz-placeholder {
      color: var(--color-grey3);
    }

    &:-ms-input-placeholder {
      color: var(--color-grey3);
    }
  }

  &:focus {
    border: 1px solid var(--color-secondary);
  }
}

.inputWrap {
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 0.5rem;
}

.eye {
  position: absolute;
  width: 24px;
  height: 24px;
  transform: translateY(calc(-24px - 50%));
  right: 14px;
  z-index: 10;
  cursor: pointer;
}
