.spinner_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: var(--color-bg);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  gap: 20px;

  span {
    color: var(--color-clean2);
  }
}

.spinner_color {
  color: var(--color-clean2);
}
