.auth_box_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg);
}

.auth_box,
.auth_box_register {
  width: 300px;
  height: 400px;
  background-color: var(--color-form-bg);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-flow: column nowrap;
  padding: 25px;

  @media (min-width: 576px) {
    width: 540px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }
}

.auth_box_register {
  height: 470px;
}
