.linkBox {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: var(--color-bg);
}

.link {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  color: var(--color-clean2);
}
