@import './variables.css';

* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
}

body > div {
  height: 100%;
}

body {
  padding: 0;
  min-width: 320px;
  position: relative;
  font-family: var(--default-font);
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
  color: #5f5f5f;
}

::-moz-placeholder {
  color: #5f5f5f;
}

:-ms-input-placeholder {
  color: #5f5f5f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

h1 {
  color: var(--color-title);
}

.spinner-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #000;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.top_buttons_container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.td {
  border-bottom: 1px solid #dee2e6;
  padding: 0.5rem;
}

.table_container {
  position: relative;
  border: 1px solid #dee2e6;
  padding: 1.5rem;
  border-radius: 0.375rem;
}

.table {
  width: 100%;
}

.pagination_container {
  flex-flow: row nowrap !important;
  margin-top: 1.5rem;
  align-items: center;
}

.pagination_container__p {
  height: 30px;
}

.text_not_found {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-title);
  margin-bottom: 0;
}
