:root {
  /* colors */
  --color-warning: #d6281c;
  --color-secondary: #398388;
  --color-clean: #fff;
  --color-clean2: #b9bbbe;
  --color-bg: #222222;
  --color-bg-header: #321600;
  --color-form-bg: #323232;
  --color-button-bg: #fc4a33;
  --color-text: #000;
  --color-second-text: #ccc;
  --color-link: #44e2cb;
  --color-active-link: #fc4a33;
  --color-title: #666;
  --color-active-title: #45ab5f;
  --color-grey1: #f2f5f9;
  --color-grey3: #9e9e9e;
  --color-grey4: #333333;

  /* fonts */
  --default-font: 'RobotoRegular', system-ui, -apple-system, 'Segoe UI',
    'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --title-font: 'RalewayBold', system-ui, -apple-system, 'Segoe UI',
    'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --title-second-font: 'RalewayRegular', system-ui, -apple-system, 'Segoe UI',
    'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
