.text {
  color: var(--color-clean2);
}

.warning {
  color: var(--color-warning);
}

.warningWrapper {
  min-height: 24px;
}

.button {
  width: 200px;
  height: 40px;
  background-color: var(--color-secondary);
  color: var(--color-clean);
}

.buttonWrapper {
  display: flex;
  align-items: center;
}
