.button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: var(--font-default);
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    transition: color 0.2s ease 0s;
    cursor: pointer;
    background-color: var(--bg-button-brand);
    color: var(--color-button-brand);
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 3px;

    &:hover {
        background-image: linear-gradient(0deg, var(--bg-button-brand) 0, var(--bg-button-brand-hover));
    }
}
