.button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: var(--font-default);
    font-weight: 400;
    line-height: normal;
    transition: color 0.2s ease 0s;
    cursor: pointer;
    white-space: nowrap;
    color: var(--color-button-brand);
    background-color: var(--bg-button-secondary);
    box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, 0.5);
    font-size: 15px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
}
